body .error {
  color: red;
}
body .success {
  color: green;
}

.user-edit-php #your-profile > h2,
.user-edit-php #your-profile > .form-table,
.user-edit-php .user-language-wrap,
.user-edit-php .application-passwords,
.user-edit-php .user-description-wrap,
.user-edit-php .user-url-wrap,
.user-edit-php .show-admin-bar,
.user-edit-php .user-comment-shortcuts-wrap,
.user-edit-php .user-admin-color-wrap,
.user-edit-php .user-rich-editing-wrap {
  display: none;
}
.user-edit-php #your-profile > #h2-rich_editing,
.user-edit-php #your-profile > #form-table-user_login,
.user-edit-php #your-profile > #form-table-email,
.user-edit-php #your-profile > #h2-pass1,
.user-edit-php #your-profile > #form-table-pass1 {
  display: block;
}

.profile-php #your-profile,
.user-edit-php #your-profile {
  display: flex;
  flex-direction: column;
}
.profile-php #your-profile .nav-tab-wrapper,
.user-edit-php #your-profile .nav-tab-wrapper {
  order: -1;
}
.profile-php #your-profile #h2-billing_first_name,
.user-edit-php #your-profile #h2-billing_first_name {
  order: 1;
}
.profile-php #your-profile #form-table-billing_first_name,
.user-edit-php #your-profile #form-table-billing_first_name {
  order: 2;
}
.profile-php #your-profile #form-table-billing_phone_2,
.user-edit-php #your-profile #form-table-billing_phone_2 {
  order: 3;
}
.profile-php #your-profile #h2-copy_billing,
.user-edit-php #your-profile #h2-copy_billing {
  order: 4;
}
.profile-php #your-profile #form-table-copy_billing,
.user-edit-php #your-profile #form-table-copy_billing {
  order: 5;
}
.profile-php #your-profile #form-table-shipping_phone_2,
.user-edit-php #your-profile #form-table-shipping_phone_2 {
  order: 6;
}
.profile-php #your-profile .submit,
.user-edit-php #your-profile .submit {
  order: 7;
}
.profile-php #your-profile #fieldset-billing tbody,
.user-edit-php #your-profile #fieldset-billing tbody {
  display: flex;
  flex-direction: column;
}
.profile-php #your-profile #fieldset-billing tbody tr:nth-last-child(2),
.user-edit-php #your-profile #fieldset-billing tbody tr:nth-last-child(2) {
  order: 1;
}
.profile-php #your-profile .form-table tbody > .acf-field-repeater > .acf-label,
.user-edit-php #your-profile .form-table tbody > .acf-field-repeater > .acf-label {
  display: none;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9jb2xvci5zY3NzIiwiYWRtaW4uY3NzIiwiX3VzZXJzLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQ0k7RUFDSSxVQUFBO0FDQVI7QURFSTtFQUNJLFlBQUE7QUNBUjs7QUNKSTs7Ozs7Ozs7OztFQVVJLGFBQUE7QURPUjtBQ0xJOzs7OztFQU1JLGNBQUE7QURNUjs7QUNBSTs7RUFDSSxhQUFBO0VBQ0Esc0JBQUE7QURJUjtBQ0hROztFQUNJLFNBQUE7QURNWjtBQ0pROztFQUNJLFFBQUE7QURPWjtBQ0xROztFQUNJLFFBQUE7QURRWjtBQ05ROztFQUNJLFFBQUE7QURTWjtBQ1BROztFQUNJLFFBQUE7QURVWjtBQ1JROztFQUNJLFFBQUE7QURXWjtBQ1RROztFQUNJLFFBQUE7QURZWjtBQ1ZROztFQUNJLFFBQUE7QURhWjtBQ1ZZOztFQUNJLGFBQUE7RUFDQSxzQkFBQTtBRGFoQjtBQ1pnQjs7RUFDSSxRQUFBO0FEZXBCO0FDUm9COztFQUNJLGFBQUE7QURXeEIiLCJmaWxlIjoiYWRtaW4uY3NzIiwic291cmNlc0NvbnRlbnQiOlsiYm9keXtcclxuICAgIC5lcnJvcntcclxuICAgICAgICBjb2xvcjpyZWQ7XHJcbiAgICB9XHJcbiAgICAuc3VjY2Vzc3tcclxuICAgICAgICBjb2xvcjpncmVlbjtcclxuICAgIH1cclxufSIsImJvZHkgLmVycm9yIHtcbiAgY29sb3I6IHJlZDtcbn1cbmJvZHkgLnN1Y2Nlc3Mge1xuICBjb2xvcjogZ3JlZW47XG59XG5cbi51c2VyLWVkaXQtcGhwICN5b3VyLXByb2ZpbGUgPiBoMixcbi51c2VyLWVkaXQtcGhwICN5b3VyLXByb2ZpbGUgPiAuZm9ybS10YWJsZSxcbi51c2VyLWVkaXQtcGhwIC51c2VyLWxhbmd1YWdlLXdyYXAsXG4udXNlci1lZGl0LXBocCAuYXBwbGljYXRpb24tcGFzc3dvcmRzLFxuLnVzZXItZWRpdC1waHAgLnVzZXItZGVzY3JpcHRpb24td3JhcCxcbi51c2VyLWVkaXQtcGhwIC51c2VyLXVybC13cmFwLFxuLnVzZXItZWRpdC1waHAgLnNob3ctYWRtaW4tYmFyLFxuLnVzZXItZWRpdC1waHAgLnVzZXItY29tbWVudC1zaG9ydGN1dHMtd3JhcCxcbi51c2VyLWVkaXQtcGhwIC51c2VyLWFkbWluLWNvbG9yLXdyYXAsXG4udXNlci1lZGl0LXBocCAudXNlci1yaWNoLWVkaXRpbmctd3JhcCB7XG4gIGRpc3BsYXk6IG5vbmU7XG59XG4udXNlci1lZGl0LXBocCAjeW91ci1wcm9maWxlID4gI2gyLXJpY2hfZWRpdGluZyxcbi51c2VyLWVkaXQtcGhwICN5b3VyLXByb2ZpbGUgPiAjZm9ybS10YWJsZS11c2VyX2xvZ2luLFxuLnVzZXItZWRpdC1waHAgI3lvdXItcHJvZmlsZSA+ICNmb3JtLXRhYmxlLWVtYWlsLFxuLnVzZXItZWRpdC1waHAgI3lvdXItcHJvZmlsZSA+ICNoMi1wYXNzMSxcbi51c2VyLWVkaXQtcGhwICN5b3VyLXByb2ZpbGUgPiAjZm9ybS10YWJsZS1wYXNzMSB7XG4gIGRpc3BsYXk6IGJsb2NrO1xufVxuXG4ucHJvZmlsZS1waHAgI3lvdXItcHJvZmlsZSxcbi51c2VyLWVkaXQtcGhwICN5b3VyLXByb2ZpbGUge1xuICBkaXNwbGF5OiBmbGV4O1xuICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xufVxuLnByb2ZpbGUtcGhwICN5b3VyLXByb2ZpbGUgLm5hdi10YWItd3JhcHBlcixcbi51c2VyLWVkaXQtcGhwICN5b3VyLXByb2ZpbGUgLm5hdi10YWItd3JhcHBlciB7XG4gIG9yZGVyOiAtMTtcbn1cbi5wcm9maWxlLXBocCAjeW91ci1wcm9maWxlICNoMi1iaWxsaW5nX2ZpcnN0X25hbWUsXG4udXNlci1lZGl0LXBocCAjeW91ci1wcm9maWxlICNoMi1iaWxsaW5nX2ZpcnN0X25hbWUge1xuICBvcmRlcjogMTtcbn1cbi5wcm9maWxlLXBocCAjeW91ci1wcm9maWxlICNmb3JtLXRhYmxlLWJpbGxpbmdfZmlyc3RfbmFtZSxcbi51c2VyLWVkaXQtcGhwICN5b3VyLXByb2ZpbGUgI2Zvcm0tdGFibGUtYmlsbGluZ19maXJzdF9uYW1lIHtcbiAgb3JkZXI6IDI7XG59XG4ucHJvZmlsZS1waHAgI3lvdXItcHJvZmlsZSAjZm9ybS10YWJsZS1iaWxsaW5nX3Bob25lXzIsXG4udXNlci1lZGl0LXBocCAjeW91ci1wcm9maWxlICNmb3JtLXRhYmxlLWJpbGxpbmdfcGhvbmVfMiB7XG4gIG9yZGVyOiAzO1xufVxuLnByb2ZpbGUtcGhwICN5b3VyLXByb2ZpbGUgI2gyLWNvcHlfYmlsbGluZyxcbi51c2VyLWVkaXQtcGhwICN5b3VyLXByb2ZpbGUgI2gyLWNvcHlfYmlsbGluZyB7XG4gIG9yZGVyOiA0O1xufVxuLnByb2ZpbGUtcGhwICN5b3VyLXByb2ZpbGUgI2Zvcm0tdGFibGUtY29weV9iaWxsaW5nLFxuLnVzZXItZWRpdC1waHAgI3lvdXItcHJvZmlsZSAjZm9ybS10YWJsZS1jb3B5X2JpbGxpbmcge1xuICBvcmRlcjogNTtcbn1cbi5wcm9maWxlLXBocCAjeW91ci1wcm9maWxlICNmb3JtLXRhYmxlLXNoaXBwaW5nX3Bob25lXzIsXG4udXNlci1lZGl0LXBocCAjeW91ci1wcm9maWxlICNmb3JtLXRhYmxlLXNoaXBwaW5nX3Bob25lXzIge1xuICBvcmRlcjogNjtcbn1cbi5wcm9maWxlLXBocCAjeW91ci1wcm9maWxlIC5zdWJtaXQsXG4udXNlci1lZGl0LXBocCAjeW91ci1wcm9maWxlIC5zdWJtaXQge1xuICBvcmRlcjogNztcbn1cbi5wcm9maWxlLXBocCAjeW91ci1wcm9maWxlICNmaWVsZHNldC1iaWxsaW5nIHRib2R5LFxuLnVzZXItZWRpdC1waHAgI3lvdXItcHJvZmlsZSAjZmllbGRzZXQtYmlsbGluZyB0Ym9keSB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG59XG4ucHJvZmlsZS1waHAgI3lvdXItcHJvZmlsZSAjZmllbGRzZXQtYmlsbGluZyB0Ym9keSB0cjpudGgtbGFzdC1jaGlsZCgyKSxcbi51c2VyLWVkaXQtcGhwICN5b3VyLXByb2ZpbGUgI2ZpZWxkc2V0LWJpbGxpbmcgdGJvZHkgdHI6bnRoLWxhc3QtY2hpbGQoMikge1xuICBvcmRlcjogMTtcbn1cbi5wcm9maWxlLXBocCAjeW91ci1wcm9maWxlIC5mb3JtLXRhYmxlIHRib2R5ID4gLmFjZi1maWVsZC1yZXBlYXRlciA+IC5hY2YtbGFiZWwsXG4udXNlci1lZGl0LXBocCAjeW91ci1wcm9maWxlIC5mb3JtLXRhYmxlIHRib2R5ID4gLmFjZi1maWVsZC1yZXBlYXRlciA+IC5hY2YtbGFiZWwge1xuICBkaXNwbGF5OiBub25lO1xufSIsIi51c2VyLWVkaXQtcGhwe1xyXG4gICAgI3lvdXItcHJvZmlsZSA+IGgyLFxyXG4gICAgI3lvdXItcHJvZmlsZSA+IC5mb3JtLXRhYmxlLFxyXG4gICAgLnVzZXItbGFuZ3VhZ2Utd3JhcCxcclxuICAgIC5hcHBsaWNhdGlvbi1wYXNzd29yZHMsXHJcbiAgICAudXNlci1kZXNjcmlwdGlvbi13cmFwLFxyXG4gICAgLnVzZXItdXJsLXdyYXAsXHJcbiAgICAuc2hvdy1hZG1pbi1iYXIsXHJcbiAgICAudXNlci1jb21tZW50LXNob3J0Y3V0cy13cmFwLFxyXG4gICAgLnVzZXItYWRtaW4tY29sb3Itd3JhcCxcclxuICAgIC51c2VyLXJpY2gtZWRpdGluZy13cmFwe1xyXG4gICAgICAgIGRpc3BsYXk6bm9uZTtcclxuICAgIH1cclxuICAgICN5b3VyLXByb2ZpbGUgPiAjaDItcmljaF9lZGl0aW5nLFxyXG4gICAgI3lvdXItcHJvZmlsZSA+ICNmb3JtLXRhYmxlLXVzZXJfbG9naW4sXHJcbiAgICAjeW91ci1wcm9maWxlID4gI2Zvcm0tdGFibGUtZW1haWwsXHJcbiAgICAjeW91ci1wcm9maWxlID4gI2gyLXBhc3MxLFxyXG4gICAgI3lvdXItcHJvZmlsZSA+ICNmb3JtLXRhYmxlLXBhc3MxXHJcbiAgICB7XHJcbiAgICAgICAgZGlzcGxheTpibG9jaztcclxuICAgIH1cclxuXHJcbn1cclxuLnByb2ZpbGUtcGhwLFxyXG4udXNlci1lZGl0LXBocHtcclxuICAgICN5b3VyLXByb2ZpbGV7XHJcbiAgICAgICAgZGlzcGxheTogZmxleDtcclxuICAgICAgICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xyXG4gICAgICAgIC5uYXYtdGFiLXdyYXBwZXJ7XHJcbiAgICAgICAgICAgIG9yZGVyOi0xO1xyXG4gICAgICAgIH1cclxuICAgICAgICAjaDItYmlsbGluZ19maXJzdF9uYW1le1xyXG4gICAgICAgICAgICBvcmRlcjoxO1xyXG4gICAgICAgIH1cclxuICAgICAgICAjZm9ybS10YWJsZS1iaWxsaW5nX2ZpcnN0X25hbWV7XHJcbiAgICAgICAgICAgIG9yZGVyOjI7XHJcbiAgICAgICAgfVxyXG4gICAgICAgICNmb3JtLXRhYmxlLWJpbGxpbmdfcGhvbmVfMntcclxuICAgICAgICAgICAgb3JkZXI6MztcclxuICAgICAgICB9XHJcbiAgICAgICAgI2gyLWNvcHlfYmlsbGluZ3tcclxuICAgICAgICAgICAgb3JkZXI6NDtcclxuICAgICAgICB9XHJcbiAgICAgICAgI2Zvcm0tdGFibGUtY29weV9iaWxsaW5ne1xyXG4gICAgICAgICAgICBvcmRlcjo1O1xyXG4gICAgICAgIH1cclxuICAgICAgICAjZm9ybS10YWJsZS1zaGlwcGluZ19waG9uZV8ye1xyXG4gICAgICAgICAgICBvcmRlcjo2O1xyXG4gICAgICAgIH1cclxuICAgICAgICAuc3VibWl0e1xyXG4gICAgICAgICAgICBvcmRlcjo3O1xyXG4gICAgICAgIH1cclxuICAgICAgICAjZmllbGRzZXQtYmlsbGluZ3tcclxuICAgICAgICAgICAgdGJvZHl7XHJcbiAgICAgICAgICAgICAgICBkaXNwbGF5OiBmbGV4O1xyXG4gICAgICAgICAgICAgICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcclxuICAgICAgICAgICAgICAgIHRyOm50aC1sYXN0LWNoaWxkKDIpe1xyXG4gICAgICAgICAgICAgICAgICAgIG9yZGVyOjE7XHJcbiAgICAgICAgICAgICAgICB9XHJcbiAgICAgICAgICAgIH1cclxuICAgICAgICB9XHJcbiAgICAgICAgLmZvcm0tdGFibGV7XHJcbiAgICAgICAgICAgIHRib2R5e1xyXG4gICAgICAgICAgICAgICAgJj4uYWNmLWZpZWxkLXJlcGVhdGVye1xyXG4gICAgICAgICAgICAgICAgICAgICY+LmFjZi1sYWJlbHtcclxuICAgICAgICAgICAgICAgICAgICAgICAgZGlzcGxheTogbm9uZTtcclxuICAgICAgICAgICAgICAgICAgICB9XHJcbiAgICAgICAgICAgICAgICB9XHJcbiAgICAgICAgICAgIH1cclxuICAgICAgICB9XHJcbiAgICB9XHJcbn0iXX0= */
