body .error {
  color: red;
}
body .success {
  color: green;
}

.user-edit-php #your-profile > h2:nth-of-type(2),
.user-edit-php #your-profile > h2:nth-of-type(3),
.user-edit-php #your-profile > h2:nth-of-type(4),
.user-edit-php .user-language-wrap,
.user-edit-php .application-passwords,
.user-edit-php .user-description-wrap,
.user-edit-php .user-url-wrap,
.user-edit-php .show-admin-bar,
.user-edit-php .user-comment-shortcuts-wrap,
.user-edit-php .user-admin-color-wrap,
.user-edit-php .user-rich-editing-wrap {
  display: none !important;
}

.profile-php #your-profile,
.user-edit-php #your-profile {
  display: flex;
  flex-direction: column;
}
.profile-php #your-profile > h2:nth-of-type(8),
.user-edit-php #your-profile > h2:nth-of-type(8) {
  order: 1;
}
.profile-php #your-profile #fieldset-billing,
.user-edit-php #your-profile #fieldset-billing {
  order: 2;
}
.profile-php #your-profile #fieldset-billing-phone-2,
.user-edit-php #your-profile #fieldset-billing-phone-2 {
  order: 3;
}
.profile-php #your-profile > h2:nth-of-type(9),
.user-edit-php #your-profile > h2:nth-of-type(9) {
  order: 4;
}
.profile-php #your-profile #fieldset-shipping,
.user-edit-php #your-profile #fieldset-shipping {
  order: 5;
}
.profile-php #your-profile #fieldset-shipping-phone-2,
.user-edit-php #your-profile #fieldset-shipping-phone-2 {
  order: 6;
}
.profile-php #your-profile .submit,
.user-edit-php #your-profile .submit {
  order: 7;
}
.profile-php #your-profile #fieldset-billing tbody,
.user-edit-php #your-profile #fieldset-billing tbody {
  display: flex;
  flex-direction: column;
}
.profile-php #your-profile #fieldset-billing tbody tr:nth-last-child(2),
.user-edit-php #your-profile #fieldset-billing tbody tr:nth-last-child(2) {
  order: 1;
}
.profile-php #your-profile .form-table tbody > .acf-field-repeater > .acf-label,
.user-edit-php #your-profile .form-table tbody > .acf-field-repeater > .acf-label {
  display: none;
}

.role-administrator #your-profile {
  display: block;
}
.role-administrator #your-profile #fieldset-billing-phone-2,
.role-administrator #your-profile #fieldset-shipping-phone-2 {
  display: none;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIl9jb2xvci5zY3NzIiwiYWRtaW4uY3NzIiwiX3VzZXJzLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQ0k7RUFDSSxVQUFBO0FDQVI7QURFSTtFQUNJLFlBQUE7QUNBUjs7QUNKSTs7Ozs7Ozs7Ozs7RUFXSSx3QkFBQTtBRE9SOztBQ0ZJOztFQUNJLGFBQUE7RUFDQSxzQkFBQTtBRE1SO0FDTFE7O0VBQ0ksUUFBQTtBRFFaO0FDTlE7O0VBQ0ksUUFBQTtBRFNaO0FDUFE7O0VBQ0ksUUFBQTtBRFVaO0FDUlE7O0VBQ0ksUUFBQTtBRFdaO0FDVFE7O0VBQ0ksUUFBQTtBRFlaO0FDVlE7O0VBQ0ksUUFBQTtBRGFaO0FDWFE7O0VBQ0ksUUFBQTtBRGNaO0FDWFk7O0VBQ0ksYUFBQTtFQUNBLHNCQUFBO0FEY2hCO0FDYmdCOztFQUNJLFFBQUE7QURnQnBCO0FDVG9COztFQUNJLGFBQUE7QURZeEI7O0FDSkk7RUFDSSxjQUFBO0FET1I7QUNOUTs7RUFFSSxhQUFBO0FEUVoiLCJmaWxlIjoiYWRtaW4uY3NzIiwic291cmNlc0NvbnRlbnQiOlsiYm9keXtcclxuICAgIC5lcnJvcntcclxuICAgICAgICBjb2xvcjpyZWQ7XHJcbiAgICB9XHJcbiAgICAuc3VjY2Vzc3tcclxuICAgICAgICBjb2xvcjpncmVlbjtcclxuICAgIH1cclxufSIsImJvZHkgLmVycm9yIHtcbiAgY29sb3I6IHJlZDtcbn1cbmJvZHkgLnN1Y2Nlc3Mge1xuICBjb2xvcjogZ3JlZW47XG59XG5cbi51c2VyLWVkaXQtcGhwICN5b3VyLXByb2ZpbGUgPiBoMjpudGgtb2YtdHlwZSgyKSxcbi51c2VyLWVkaXQtcGhwICN5b3VyLXByb2ZpbGUgPiBoMjpudGgtb2YtdHlwZSgzKSxcbi51c2VyLWVkaXQtcGhwICN5b3VyLXByb2ZpbGUgPiBoMjpudGgtb2YtdHlwZSg0KSxcbi51c2VyLWVkaXQtcGhwIC51c2VyLWxhbmd1YWdlLXdyYXAsXG4udXNlci1lZGl0LXBocCAuYXBwbGljYXRpb24tcGFzc3dvcmRzLFxuLnVzZXItZWRpdC1waHAgLnVzZXItZGVzY3JpcHRpb24td3JhcCxcbi51c2VyLWVkaXQtcGhwIC51c2VyLXVybC13cmFwLFxuLnVzZXItZWRpdC1waHAgLnNob3ctYWRtaW4tYmFyLFxuLnVzZXItZWRpdC1waHAgLnVzZXItY29tbWVudC1zaG9ydGN1dHMtd3JhcCxcbi51c2VyLWVkaXQtcGhwIC51c2VyLWFkbWluLWNvbG9yLXdyYXAsXG4udXNlci1lZGl0LXBocCAudXNlci1yaWNoLWVkaXRpbmctd3JhcCB7XG4gIGRpc3BsYXk6IG5vbmUgIWltcG9ydGFudDtcbn1cblxuLnByb2ZpbGUtcGhwICN5b3VyLXByb2ZpbGUsXG4udXNlci1lZGl0LXBocCAjeW91ci1wcm9maWxlIHtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbn1cbi5wcm9maWxlLXBocCAjeW91ci1wcm9maWxlID4gaDI6bnRoLW9mLXR5cGUoOCksXG4udXNlci1lZGl0LXBocCAjeW91ci1wcm9maWxlID4gaDI6bnRoLW9mLXR5cGUoOCkge1xuICBvcmRlcjogMTtcbn1cbi5wcm9maWxlLXBocCAjeW91ci1wcm9maWxlICNmaWVsZHNldC1iaWxsaW5nLFxuLnVzZXItZWRpdC1waHAgI3lvdXItcHJvZmlsZSAjZmllbGRzZXQtYmlsbGluZyB7XG4gIG9yZGVyOiAyO1xufVxuLnByb2ZpbGUtcGhwICN5b3VyLXByb2ZpbGUgI2ZpZWxkc2V0LWJpbGxpbmctcGhvbmUtMixcbi51c2VyLWVkaXQtcGhwICN5b3VyLXByb2ZpbGUgI2ZpZWxkc2V0LWJpbGxpbmctcGhvbmUtMiB7XG4gIG9yZGVyOiAzO1xufVxuLnByb2ZpbGUtcGhwICN5b3VyLXByb2ZpbGUgPiBoMjpudGgtb2YtdHlwZSg5KSxcbi51c2VyLWVkaXQtcGhwICN5b3VyLXByb2ZpbGUgPiBoMjpudGgtb2YtdHlwZSg5KSB7XG4gIG9yZGVyOiA0O1xufVxuLnByb2ZpbGUtcGhwICN5b3VyLXByb2ZpbGUgI2ZpZWxkc2V0LXNoaXBwaW5nLFxuLnVzZXItZWRpdC1waHAgI3lvdXItcHJvZmlsZSAjZmllbGRzZXQtc2hpcHBpbmcge1xuICBvcmRlcjogNTtcbn1cbi5wcm9maWxlLXBocCAjeW91ci1wcm9maWxlICNmaWVsZHNldC1zaGlwcGluZy1waG9uZS0yLFxuLnVzZXItZWRpdC1waHAgI3lvdXItcHJvZmlsZSAjZmllbGRzZXQtc2hpcHBpbmctcGhvbmUtMiB7XG4gIG9yZGVyOiA2O1xufVxuLnByb2ZpbGUtcGhwICN5b3VyLXByb2ZpbGUgLnN1Ym1pdCxcbi51c2VyLWVkaXQtcGhwICN5b3VyLXByb2ZpbGUgLnN1Ym1pdCB7XG4gIG9yZGVyOiA3O1xufVxuLnByb2ZpbGUtcGhwICN5b3VyLXByb2ZpbGUgI2ZpZWxkc2V0LWJpbGxpbmcgdGJvZHksXG4udXNlci1lZGl0LXBocCAjeW91ci1wcm9maWxlICNmaWVsZHNldC1iaWxsaW5nIHRib2R5IHtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbn1cbi5wcm9maWxlLXBocCAjeW91ci1wcm9maWxlICNmaWVsZHNldC1iaWxsaW5nIHRib2R5IHRyOm50aC1sYXN0LWNoaWxkKDIpLFxuLnVzZXItZWRpdC1waHAgI3lvdXItcHJvZmlsZSAjZmllbGRzZXQtYmlsbGluZyB0Ym9keSB0cjpudGgtbGFzdC1jaGlsZCgyKSB7XG4gIG9yZGVyOiAxO1xufVxuLnByb2ZpbGUtcGhwICN5b3VyLXByb2ZpbGUgLmZvcm0tdGFibGUgdGJvZHkgPiAuYWNmLWZpZWxkLXJlcGVhdGVyID4gLmFjZi1sYWJlbCxcbi51c2VyLWVkaXQtcGhwICN5b3VyLXByb2ZpbGUgLmZvcm0tdGFibGUgdGJvZHkgPiAuYWNmLWZpZWxkLXJlcGVhdGVyID4gLmFjZi1sYWJlbCB7XG4gIGRpc3BsYXk6IG5vbmU7XG59XG5cbi5yb2xlLWFkbWluaXN0cmF0b3IgI3lvdXItcHJvZmlsZSB7XG4gIGRpc3BsYXk6IGJsb2NrO1xufVxuLnJvbGUtYWRtaW5pc3RyYXRvciAjeW91ci1wcm9maWxlICNmaWVsZHNldC1iaWxsaW5nLXBob25lLTIsXG4ucm9sZS1hZG1pbmlzdHJhdG9yICN5b3VyLXByb2ZpbGUgI2ZpZWxkc2V0LXNoaXBwaW5nLXBob25lLTIge1xuICBkaXNwbGF5OiBub25lO1xufSIsIi51c2VyLWVkaXQtcGhwe1xyXG4gICAgI3lvdXItcHJvZmlsZSA+IGgyOm50aC1vZi10eXBlKDIpLFxyXG4gICAgI3lvdXItcHJvZmlsZSA+IGgyOm50aC1vZi10eXBlKDMpLFxyXG4gICAgI3lvdXItcHJvZmlsZSA+IGgyOm50aC1vZi10eXBlKDQpLFxyXG4gICAgLnVzZXItbGFuZ3VhZ2Utd3JhcCxcclxuICAgIC5hcHBsaWNhdGlvbi1wYXNzd29yZHMsXHJcbiAgICAudXNlci1kZXNjcmlwdGlvbi13cmFwLFxyXG4gICAgLnVzZXItdXJsLXdyYXAsXHJcbiAgICAuc2hvdy1hZG1pbi1iYXIsXHJcbiAgICAudXNlci1jb21tZW50LXNob3J0Y3V0cy13cmFwLFxyXG4gICAgLnVzZXItYWRtaW4tY29sb3Itd3JhcCxcclxuICAgIC51c2VyLXJpY2gtZWRpdGluZy13cmFwe1xyXG4gICAgICAgIGRpc3BsYXk6bm9uZSAhaW1wb3J0YW50O1xyXG4gICAgfVxyXG59XHJcbi5wcm9maWxlLXBocCxcclxuLnVzZXItZWRpdC1waHB7XHJcbiAgICAjeW91ci1wcm9maWxle1xyXG4gICAgICAgIGRpc3BsYXk6IGZsZXg7XHJcbiAgICAgICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcclxuICAgICAgICAmPiBoMjpudGgtb2YtdHlwZSg4KXtcclxuICAgICAgICAgICAgb3JkZXI6MTtcclxuICAgICAgICB9XHJcbiAgICAgICAgI2ZpZWxkc2V0LWJpbGxpbmd7XHJcbiAgICAgICAgICAgIG9yZGVyOjI7XHJcbiAgICAgICAgfVxyXG4gICAgICAgICNmaWVsZHNldC1iaWxsaW5nLXBob25lLTJ7XHJcbiAgICAgICAgICAgIG9yZGVyOjM7XHJcbiAgICAgICAgfVxyXG4gICAgICAgICY+IGgyOm50aC1vZi10eXBlKDkpe1xyXG4gICAgICAgICAgICBvcmRlcjo0O1xyXG4gICAgICAgIH1cclxuICAgICAgICAjZmllbGRzZXQtc2hpcHBpbmd7XHJcbiAgICAgICAgICAgIG9yZGVyOjU7XHJcbiAgICAgICAgfVxyXG4gICAgICAgICNmaWVsZHNldC1zaGlwcGluZy1waG9uZS0ye1xyXG4gICAgICAgICAgICBvcmRlcjo2O1xyXG4gICAgICAgIH1cclxuICAgICAgICAuc3VibWl0e1xyXG4gICAgICAgICAgICBvcmRlcjo3O1xyXG4gICAgICAgIH1cclxuICAgICAgICAjZmllbGRzZXQtYmlsbGluZ3tcclxuICAgICAgICAgICAgdGJvZHl7XHJcbiAgICAgICAgICAgICAgICBkaXNwbGF5OiBmbGV4O1xyXG4gICAgICAgICAgICAgICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcclxuICAgICAgICAgICAgICAgIHRyOm50aC1sYXN0LWNoaWxkKDIpe1xyXG4gICAgICAgICAgICAgICAgICAgIG9yZGVyOjE7XHJcbiAgICAgICAgICAgICAgICB9XHJcbiAgICAgICAgICAgIH1cclxuICAgICAgICB9XHJcbiAgICAgICAgLmZvcm0tdGFibGV7XHJcbiAgICAgICAgICAgIHRib2R5e1xyXG4gICAgICAgICAgICAgICAgJj4uYWNmLWZpZWxkLXJlcGVhdGVye1xyXG4gICAgICAgICAgICAgICAgICAgICY+LmFjZi1sYWJlbHtcclxuICAgICAgICAgICAgICAgICAgICAgICAgZGlzcGxheTogbm9uZTtcclxuICAgICAgICAgICAgICAgICAgICB9XHJcbiAgICAgICAgICAgICAgICB9XHJcbiAgICAgICAgICAgIH1cclxuICAgICAgICB9XHJcbiAgICB9XHJcbn1cclxuLnJvbGUtYWRtaW5pc3RyYXRvcntcclxuICAgICN5b3VyLXByb2ZpbGV7XHJcbiAgICAgICAgZGlzcGxheTogYmxvY2s7XHJcbiAgICAgICAgI2ZpZWxkc2V0LWJpbGxpbmctcGhvbmUtMixcclxuICAgICAgICAjZmllbGRzZXQtc2hpcHBpbmctcGhvbmUtMntcclxuICAgICAgICAgICAgZGlzcGxheTogbm9uZTtcclxuICAgICAgICB9XHJcbiAgICB9XHJcbn0iXX0= */
