/*
 Theme Name: Divi Child
 Author: Djulyinzesky
 Author URI: https://djulyinzesky.fr/
 Template: Divi
 Version: 1.0.0
*/

/** Styles sur nav **/
.nav-secondaire .et_pb_column {padding-top:0 !important;}
.nav-secondaire .utbf-infos {display:flex !important;flex-direction:row !important;align-items:center !important;}
.nav-secondaire .utbf-infos .utbf-info-tel {margin-right:15px !important; margin-bottom:0 !important;}
.nav-secondaire .utbf-infos .et_pb_main_blurb_image {margin-bottom:0px !important; width:auto !important;}
.nav-secondaire .utbf-infos .et_pb_blurb_container {padding-left:5px !important;}

.nav-secondaire .utbf-info-reseaux li {margin-bottom:0px !important;}
.nav-secondaire .utbf-info-reseaux li a {margin-right:0 !important;}
.nav-secondaire .utbf-info-reseaux li a.icon {height:40px !important;width:40px !important;}
.nav-secondaire .utbf-info-reseaux li a.icon:before {line-height:40px !important;margin:0 auto !important;}

/** Styles header **/
.nav-principale .main-menu {display:flex !important;justify-content:end !important;align-items:center !important;}
#menu-main ul.sub-menu li {padding:0;}
#menu-main ul.sub-menu li a {width:auto;}
.et_mobile_menu li a:hover, .nav ul li a:hover {background:none;}

/** RWD header **/
@media screen and (max-width: 1140px) {
	.et_pb_menu .et-menu>li {padding:0 8px;}
	.nav-principale .et_pb_column_1_4  {width:15%;margin-right:2%;}
	.nav-principale .et_pb_column_3_4  {width:83%;}
}
@media screen and (max-width: 981px) {
	.nav-secondaire .et_pb_column, .nav-principale .et_pb_column{width:50% !important;margin:0 !important;}
	.nav-secondaire .et_pb_row, .nav-principale .et_pb_row {display:flex;justify-content:space-between;align-items:center;}
	.nav-principale .et_mobile_menu {min-width:250px;left:-150px;top:50px;}
	
}



/** Fiche produit - liste **/
.utbf-product .product-category span.categories:before, .utbf-product .product-price .amount:before, .utbf-product .product-stock .stock:before, .utbf-product .product-stock .out-of-stock:before {
	content:"";
	display:inline-block;
	width:24px;
	height:24px;
	background:url(/wp-content/themes/divi-child/img/picto-ecole.webp) no-repeat center center;
	margin-right:7px;
}
.utbf-product .product-price .amount:before {background:url(/wp-content/themes/divi-child/img/picto-prix.webp) no-repeat center center; background-size:20px;}
.utbf-product .product-stock .stock:before {
	background:url(/wp-content/themes/divi-child/img/picto-enfant-enstock.webp) no-repeat center center;
}
.utbf-product .product-stock .stock.available-on-backorder:before {
	background:url(/wp-content/themes/divi-child/img/picto-enfant-dernieresplaces.webp) no-repeat center center;
}
.utbf-product .product-stock .out-of-stock:before {
	background:url(/wp-content/themes/divi-child/img/picto-enfant-indisponible.webp) no-repeat center center;
}
.utbf-product .product_meta {border:none;padding-top:0;}
.utbf-product .product-meta span {display:block;}
.utbf-product .product-category span.categories, .utbf-product .product-price .amount, .utbf-product .product-stock .stock, .utbf-product .product-stock .out-of-stock {display:flex;}
.utbf-product .product-category, .utbf-product .product-price, .utbf-product .product-stock {padding:0 20px;}

/* masquage du btn inscription si pas de stock */
.outofstock .utbf-product .et_pb_db_shop_button {display:none;}

/** Fiche produit - détail **/
.utbf-produit-meta .category_wrapper, .utbf-produit-meta .tag_wrapper {
	background:#38C8BE;
	border-radius:15px;
	padding:5px 10px;
	margin-right:8px;
	color:#fff;
	display:inline-block;
	margin-bottom:5px;
}
.woocommerce-page div.product .utbf-panier form.cart div.quantity {
	width:100%;
	margin-bottom:2em !important;
}
.woocommerce-page div.product .utbf-panier .quantity:before {
	content:"Nombre d\'enfants à inscrire au stage";
	display:inline-block;
}
.woocommerce-page div.product .utbf-panier .quantity:after {
	content:"Pour inscrire plus d\'enfants au stage, vous devez d\'abord les ajouter dans votre espace parent.";
	display:block;
	font-size:12px;
	font-style:italic;
}
.woocommerce-page div.product .utbf-panier .quantity input.qty {
	margin-left: 10px;
    width: 50px;
    height: auto;
    padding: 7px;
}
/*.woocommerce-page div.product .utbf-panier .single_add_to_cart_button {display:none !important;}*/

/* Panier */
td.product-name a, .woocommerce-checkout-review-order-table .product-name {font-weight:bold;font-size:16px;margin-bottom:15px;display:block;}
dl.variation {font-size:14px; font-weight:500;}
.woocommerce td.product-name dl.variation dt, .woocommerce td.product-name dl.variation dd {margin-bottom:5px;}
.variation-Personnecontacterencasdurgence {padding-bottom:20px;}

/** Images à la une blog */
.et_pb_image_container {margin:-19px -19px 29px;}
.wp-block-file:not(.wp-element-button) {min-height:620px;}

/** Breadcrumb **/
.breadcrumb-item a {text-decoration:underline;}

/** Page Boutique **/
.utbf-filtres .button_container  {text-align:center;}

/** Notices **/
.wc-block-components-notice-banner, .woocommerce-info {width:80%; max-width:1080px; margin:16px auto !important;}

/** Mon compte **/
.bc-account-content-container {width:80%; max-width:1080px; margin:0 auto;}
.bc-account-content-container .woocommerce-MyAccount-navigation {float:none; width:auto;}
.bc-account-content #woocommerce-EditLegalGuardianAccountForm,.bc-account-content  #woocommerce-EditChildsAccountForm {padding:81px 0;}

/** Validation commande **/
.woocommerce-checkout .et_pb_row .woocommerce-cart-form {display:none;}
.woocommerce .et_pb_row .cart-collaterals, .woocommerce .et_pb_row .checkout-area {
	width:80%;
	max-width:1080px; 
	margin:0 auto;
	padding:0 !important;
}
.woocommerce .woocommerce-checkout #customer_details {margin-bottom:30px;}
.woocommerce-checkout-review-order-table .variation {margin-top:20px;}
#billing_company_field {display:none;}

/** Commande terminée **/
.order_details td.product-name a {display:inline-block;}
.order_details ul.wc-item-meta ul {clear:both;}


/** Formulaire Création Compte **/
.utbf-form i.indicate.password {font-size:12px;}
.utbf-form .utbf-form__row {margin-bottom:20px;}
#utbf-register-form-success div {margin-right:10px;}

@media screen and (max-width: 780px) {
	#utbf-register-form-success {flex-direction:column;;text-align:center;}
	#utbf-register-form-success div {margin-bottom:1em;}

}

/** Inverser les colonnes en mobile **/
@media screen and ( max-width: 980px ) {
    .inverse {
        display: flex;
        flex-direction: column-reverse;
    }
}
