.user-edit-php{
    #your-profile > h2,
    #your-profile > .form-table,
    .user-language-wrap,
    .application-passwords,
    .user-description-wrap,
    .user-url-wrap,
    .show-admin-bar,
    .user-comment-shortcuts-wrap,
    .user-admin-color-wrap,
    .user-rich-editing-wrap{
        display:none;
    }
    #your-profile > #h2-rich_editing,
    #your-profile > #form-table-user_login,
    #your-profile > #form-table-email,
    #your-profile > #h2-pass1,
    #your-profile > #form-table-pass1
    {
        display:block;
    }

}
.profile-php,
.user-edit-php{
    #your-profile{
        display: flex;
        flex-direction: column;
        .nav-tab-wrapper{
            order:-1;
        }
        #h2-billing_first_name{
            order:1;
        }
        #form-table-billing_first_name{
            order:2;
        }
        #form-table-billing_phone_2{
            order:3;
        }
        #h2-copy_billing{
            order:4;
        }
        #form-table-copy_billing{
            order:5;
        }
        #form-table-shipping_phone_2{
            order:6;
        }
        .submit{
            order:7;
        }
        #fieldset-billing{
            tbody{
                display: flex;
                flex-direction: column;
                tr:nth-last-child(2){
                    order:1;
                }
            }
        }
        .form-table{
            tbody{
                &>.acf-field-repeater{
                    &>.acf-label{
                        display: none;
                    }
                }
            }
        }
    }
}