.user-edit-php{
    #your-profile > h2:nth-of-type(2),
    #your-profile > h2:nth-of-type(3),
    #your-profile > h2:nth-of-type(4),
    .user-language-wrap,
    .application-passwords,
    .user-description-wrap,
    .user-url-wrap,
    .show-admin-bar,
    .user-comment-shortcuts-wrap,
    .user-admin-color-wrap,
    .user-rich-editing-wrap{
        display:none !important;
    }
}
.profile-php,
.user-edit-php{
    #your-profile{
        display: flex;
        flex-direction: column;
        &> h2:nth-of-type(8){
            order:1;
        }
        #fieldset-billing{
            order:2;
        }
        #fieldset-billing-phone-2{
            order:3;
        }
        &> h2:nth-of-type(9){
            order:4;
        }
        #fieldset-shipping{
            order:5;
        }
        #fieldset-shipping-phone-2{
            order:6;
        }
        .submit{
            order:7;
        }
        #fieldset-billing{
            tbody{
                display: flex;
                flex-direction: column;
                tr:nth-last-child(2){
                    order:1;
                }
            }
        }
        .form-table{
            tbody{
                &>.acf-field-repeater{
                    &>.acf-label{
                        display: none;
                    }
                }
            }
        }
    }
}
.role-administrator{
    #your-profile{
        display: block;
        #fieldset-billing-phone-2,
        #fieldset-shipping-phone-2{
            display: none;
        }
    }
}