// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from assets/libs/sass/bootstrap4/_variables.scss, paste it here and edit the value.


//Color
$white:           #ffffff;
$black:           #000000;


$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 980px,
  mx: 1024px,
  lg: 1200px,
  xl: 1470px
);


// Font weight
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
