.button{
    font-size: 16px;
    padding: 7px 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    &-primary{
        color: $white;
        background-color: $blue;
    }
    &-large{
        padding: 10px 50px;
    }
}