.utbf-form{
    position: relative;
    &__row{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 10px;
    }
    &__full-col{
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    &__half-col{
        flex: 1;
        width: 50%;
        display: flex;
        flex-direction: column;
        position: relative;
        @media (max-width: 576px) {
            width: 100%;
        }
    }
}
#utbf-register-form-success{
    display: none;
}