input.text,
input.title,
input[type=email],
input[type=password],
input[type=number],
input[type=tel],
input[type=text],
select,
textarea{
    color: $gray2;
    border: 1px solid $gray1;
    padding: 10px 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}