.wrapper-loader{
    display: none;
    position: fixed;
    background-color: $white;
    opacity: .8;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    z-index: 2;
    .loader{
        position: relative;
        height: 30px;
        width: 30px;
        animation: rotate-spin .6s linear infinite;
        -webkit-animation: rotate-spin .6s linear infinite;
        svg{
            height: 30px;
            width: 30px;
            path{
                fill: $blue;
            }
        }
    }
}
@-webkit-keyframes rotate-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}