.toggle{
    &-button{
        display: flex;
        align-items: center;
        cursor: pointer;
        &.active{
            .toggle-ico{
                transform: rotate(180deg);
            }
        }
    }
    &-ico{
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg{
            height: 20px;
            width: 20px;
        }
    }
    &-title{
        margin-left: 30px;
    }
    &-item{
        overflow: hidden;
        height: 0;
        &.visible{
            height: auto;
        }
    }
}